<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="26" assertions="148" failures="0" errors="0" time="100.098326">
    <testsuite name="QA-regression" tests="26" assertions="148" failures="0" errors="0" time="100.098326">
      <testsuite name="xxx\Tests\Carer\CheckCarerPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Carer/CheckCarerPageElementsTest.php" tests="1" assertions="21" failures="0" errors="0" time="10.771211">
        <testcase name="testCheckCarerPageElements" class="xxx\Tests\Carer\CheckCarerPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Carer/CheckCarerPageElementsTest.php" line="60" assertions="21" time="10.771211">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Clients\CheckClientsPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Clients/CheckClientsPageElementsTest.php" tests="1" assertions="10" failures="0" errors="0" time="9.037426">
        <testcase name="testCheckClientsPageElements" class="xxx\Tests\Clients\CheckClientsPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Clients/CheckClientsPageElementsTest.php" line="59" assertions="10" time="9.037426">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Clients\CreateNewClientTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Clients/CreateNewClientTest.php" tests="1" assertions="7" failures="0" errors="0" time="18.277549">
        <testcase name="testCreateNewClient" class="xxx\Tests\Clients\CreateNewClientTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Clients/CreateNewClientTest.php" line="84" assertions="7" time="18.277549">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Dashboard\CheckDashboardPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Dashboard/CheckDashboardPageElementsTest.php" tests="1" assertions="23" failures="0" errors="0" time="7.841597">
        <testcase name="testCheckDashboardPageElements" class="xxx\Tests\Dashboard\CheckDashboardPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Dashboard/CheckDashboardPageElementsTest.php" line="48" assertions="23" time="7.841597">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Login\CheckLoginPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/CheckLoginPageElementsTest.php" tests="1" assertions="7" failures="0" errors="0" time="1.256858">
        <testcase name="testCheckLoginPageElements" class="xxx\Tests\Login\CheckLoginPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/CheckLoginPageElementsTest.php" line="44" assertions="7" time="1.256858">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Login\LoginAsUserSuccessfulTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/LoginAsUserSuccessfulTest.php" tests="1" assertions="2" failures="0" errors="0" time="6.570058">
        <testcase name="testLoginAsUserSuccessful" class="xxx\Tests\Login\LoginAsUserSuccessfulTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/LoginAsUserSuccessfulTest.php" line="53" assertions="2" time="6.570058">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Login\LoginAsUserUnsuccessfulTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/LoginAsUserUnsuccessfulTest.php" tests="3" assertions="6" failures="0" errors="0" time="8.830467">
        <testcase name="testLoginAsUserUnsuccessfulNoInput" class="xxx\Tests\Login\LoginAsUserUnsuccessfulTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/LoginAsUserUnsuccessfulTest.php" line="44" assertions="3" time="1.434774">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testLoginAsUserUnsuccessfulWrongPassword" class="xxx\Tests\Login\LoginAsUserUnsuccessfulTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/LoginAsUserUnsuccessfulTest.php" line="80" assertions="1" time="4.826572">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testLoginAsUserUnsuccessfulWrongUsername" class="xxx\Tests\Login\LoginAsUserUnsuccessfulTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/LoginAsUserUnsuccessfulTest.php" line="100" assertions="2" time="2.569121">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Login\LogoutSuccessfulTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/LogoutSuccessfulTest.php" tests="1" assertions="1" failures="0" errors="0" time="10.815400">
        <testcase name="testLogoutSuccessful" class="xxx\Tests\Login\LogoutSuccessfulTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/LogoutSuccessfulTest.php" line="50" assertions="1" time="10.815400">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Login\RequireNewPasswordTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/RequireNewPasswordTest.php" tests="2" assertions="11" failures="0" errors="0" time="7.619769">
        <testcase name="testRequireNewPasswordSuccessful" class="xxx\Tests\Login\RequireNewPasswordTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/RequireNewPasswordTest.php" line="67" assertions="6" time="4.733014">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testRequireNewPasswordUnsuccessful" class="xxx\Tests\Login\RequireNewPasswordTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/RequireNewPasswordTest.php" line="143" assertions="5" time="2.886755">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Login\RobotsTxtTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/RobotsTxtTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.525465">
        <testcase name="testRobotsTxt" class="xxx\Tests\Login\RobotsTxtTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Login/RobotsTxtTest.php" line="42" assertions="1" time="0.525465">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Registration\CheckRegistrationPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/CheckRegistrationPageElementsTest.php" tests="2" assertions="46" failures="0" errors="0" time="5.116008">
        <testcase name="testRegistrationPageElementVisibility" class="xxx\Tests\Registration\CheckRegistrationPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/CheckRegistrationPageElementsTest.php" line="51" assertions="20" time="1.937557">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testInitialMandatoryFieldAttributes" class="xxx\Tests\Registration\CheckRegistrationPageElementsTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/CheckRegistrationPageElementsTest.php" line="90" assertions="26" time="3.178451">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
      <testsuite name="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" tests="11" assertions="13" failures="0" errors="0" time="13.436518">
        <testcase name="testNoInput" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="53" assertions="1" time="1.512722">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testRequiredFieldValidationMessages" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="76" assertions="5" time="2.362648">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testNamesTooShort" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="164" assertions="1" time="1.550676">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testFirstnameTooLong" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="196" assertions="1" time="1.696833">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testVerificationTypeRequiredFields" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="230" assertions="0" time="0.441058">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testAgeRestrictions" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="239" assertions="2" time="2.424339">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testCharacterRestrictions" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="287" assertions="0" time="0.454015">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testInvalidEmail" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="295" assertions="0" time="0.439825">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testInvalidPhone" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="303" assertions="0" time="0.440491">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testUserAlreadyExists" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="311" assertions="0" time="0.456303">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
        <testcase name="testTCLink" class="xxx\Tests\Registration\InputValidationTest" file="/home/jenkins/workspace/repo-qa-selenium/xxx/Tests/Registration/InputValidationTest.php" line="319" assertions="3" time="1.657608">
          <system-out>USED custom cli parameter appInstance=YY82
USED custom cli parameter env=TEST
USED custom cli parameter driverLocation=YYC
</system-out>
        </testcase>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
