<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <jenkins.plugins.nodejs.NodeJSCommandInterpreter plugin="nodejs@1.0.1">
      <command>console.log(2+2)</command>
      <nodeJSInstallationName>nodejs-4-latest</nodeJSInstallationName>
    </jenkins.plugins.nodejs.NodeJSCommandInterpreter>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>