<?xml version='1.0' encoding='UTF-8'?>
<matrix-project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <axes>
    <hudson.matrix.LabelAxis>
      <name>node</name>
      <values>
        <string>aix_53_dev</string>
        <string>autotest</string>
      </values>
    </hudson.matrix.LabelAxis>
  </axes>
  <builders>
    <org.jvnet.hudson.plugins.exclusion.CriticalBlockStart/>
    <hudson.tasks.Shell>
      <command>sleep 5</command>
    </hudson.tasks.Shell>
    <org.jvnet.hudson.plugins.exclusion.CriticalBlockEnd/>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>test1</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers>
    <org.jvnet.hudson.plugins.exclusion.IdAllocator>
      <ids>
        <org.jvnet.hudson.plugins.exclusion.DefaultIdType>
          <name>AT</name>
        </org.jvnet.hudson.plugins.exclusion.DefaultIdType>
      </ids>
    </org.jvnet.hudson.plugins.exclusion.IdAllocator>
  </buildWrappers>
  <executionStrategy class="hudson.matrix.DefaultMatrixExecutionStrategyImpl">
    <runSequentially>false</runSequentially>
  </executionStrategy>
</matrix-project>