<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Computer.Delete:admin</permission>
    <permission>hudson.model.Item.Configure:admin</permission>
    <permission>hudson.model.Item.Create:admin</permission>
    <permission>hudson.model.View.Create:admin</permission>
    <permission>hudson.model.Item.Workspace:admin</permission>
    <permission>hudson.model.Item.Build:admin</permission>
    <permission>hudson.model.Run.Update:admin</permission>
    <permission>hudson.scm.SCM.Tag:admin</permission>
    <permission>hudson.model.Item.Delete:admin</permission>
    <permission>hudson.model.View.Configure:admin</permission>
    <permission>hudson.model.Computer.Configure:admin</permission>
    <permission>hudson.model.Run.Delete:admin</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:admin</permission>
    <permission>hudson.model.View.Delete:admin</permission>
    <permission>hudson.model.Hudson.Administer:admin</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
  </securityRealm>
  <jdks>
    <jdk>
      <name>Sun 1.6</name>
      <home>C:\Sun\sdk\jdk</home>
    </jdk>
    <jdk>
      <name>Bea 1.6</name>
      <home>D:\JDK\BEA_160_05</home>
    </jdk>
    <jdk>
      <name>Bea 1.5</name>
      <home>D:\JDK\BEA_150_12</home>
    </jdk>
  </jdks>
  <clouds/>
  <slaves>
    <slave>
      <name>neo</name>
      <description></description>
      <remoteFS>/ci/hudson</remoteFS>
      <numExecutors>2</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label></label>
      <nodeProperties>
        <hudson.tools.ToolLocationNodeProperty>
          <locations>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.tasks.Maven$MavenInstallation$DescriptorImpl</type>
              <name>Maven2</name>
              <home>/ci/tools/apache-maven</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
            <hudson.tools.ToolLocationNodeProperty_-ToolLocation>
              <type>hudson.model.JDK$DescriptorImpl</type>
              <name>Sun 1.6</name>
              <home>/ci/tools/java-jre</home>
            </hudson.tools.ToolLocationNodeProperty_-ToolLocation>
          </locations>
        </hudson.tools.ToolLocationNodeProperty>
      </nodeProperties>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
    </hudson.model.AllView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>0</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
  <disabledAdministrativeMonitors/>
</hudson>