<?xml version='1.0' encoding='UTF-8'?>
<maven2-moduleset>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.descriptionsetter.JobByDescription/>
    <hudson.plugins.jira.JiraProjectProperty>
      <siteName>https://jira.clearforest.com/</siteName>
    </hudson.plugins.jira.JiraProjectProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://server/trunk</remote>
        <local>trunk</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <browser class="hudson.scm.browsers.WebSVN">
      <url>http://server:8080/svnwebclient/</url>
    </browser>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <assignedNode>ci</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec># ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Polls SCM for changes every 10 minutes, 08:00-21:00, working days
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

*/10 08-21 * * 0-4
            </spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <rootModule>
    <groupId>com.clearforest</groupId>
    <artifactId>main.all-ci</artifactId>
  </rootModule>
  <rootPOM>devmain/DEV5_COMP/Maven/projects/ALL-CI/pom.xml</rootPOM>
  <goals>-B -U -e clean install -DBUILD_NUMBER=${BUILD_NUMBER} -Dmaven.repo.local=/.m2/repository/ALL-CI</goals>
  <mavenName>apache-maven-2.2.1</mavenName>
  <mavenOpts>-Xmx1024m -XX:MaxPermSize=512m</mavenOpts>
  <aggregatorStyleBuild>true</aggregatorStyleBuild>
  <incrementalBuild>false</incrementalBuild>
  <usePrivateRepository>false</usePrivateRepository>
  <ignoreUpstremChanges>true</ignoreUpstremChanges>
  <archivingDisabled>true</archivingDisabled>
  <reporters>
    <hudson.maven.reporters.MavenMailer>
      <recipients>test@test.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.maven.reporters.MavenMailer>
  </reporters>
  <publishers/>
  <buildWrappers/>
</maven2-moduleset>