<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>180</daysToKeep>
    <numToKeep>-1</numToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.clearcase.ClearCaseSCM">
    <viewName>hudson_dvw_main</viewName>
    <mkviewOptionalParam></mkviewOptionalParam>
    <filteringOutDestroySubBranchEvent>true</filteringOutDestroySubBranchEvent>
    <useUpdate>false</useUpdate>
    <removeViewOnRename>false</removeViewOnRename>
    <excludedRegions></excludedRegions>
    <loadRules>/view/hudson_dvw_main/vobs/host/WorkflowMgr</loadRules>
    <useDynamicView>true</useDynamicView>
    <viewDrive>/view</viewDrive>
    <multiSitePollBuffer>0</multiSitePollBuffer>
    <configSpec>element /vobs/admin/... .../mr/LATEST -nocheckout&#xd;
include /vobs/admin/LSI/configspecs/21.0.dev</configSpec>
    <branch>mr&#xd;
hudson_dvw_main</branch>
    <doNotUpdateConfigSpec>true</doNotUpdateConfigSpec>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>Java 5</jdk>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>0 * * * *
15 * * * *
30 * * * *
45 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant>
      <targets>-verbose pmd</targets>
      <antName>Ant 1.6.4</antName>
      <buildFile>/view/hudson_dvw_main/vobs/host/hudson/buildWfm.xml</buildFile>
      <properties>viewName=hudson_dvw_main
workspace.dir=/b/hudson/.hudson/jobs/DVw Main WFM/workspace
pmd.dir=/local/hudson/pmd
findbugs.home=/local/hudson/findbugs
reports.dir=/local/hudson/reports</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>DVw Main Viz</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
    <hudson.plugins.pmd.PmdPublisher>
      <threshold></threshold>
      <newThreshold></newThreshold>
      <failureThreshold></failureThreshold>
      <newFailureThreshold></newFailureThreshold>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[PMD] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding></defaultEncoding>
      <pattern>pmd.xml</pattern>
    </hudson.plugins.pmd.PmdPublisher>
    <hudson.plugins.warnings.WarningsPublisher>
      <threshold></threshold>
      <newThreshold></newThreshold>
      <failureThreshold></failureThreshold>
      <newFailureThreshold></newFailureThreshold>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[WARNINGS] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding></defaultEncoding>
      <pattern></pattern>
      <parserNames/>
      <canRunOnFailed>false</canRunOnFailed>
      <ignoreConsole>false</ignoreConsole>
    </hudson.plugins.warnings.WarningsPublisher>
    <hudson.plugins.findbugs.FindBugsPublisher>
      <threshold></threshold>
      <newThreshold></newThreshold>
      <failureThreshold></failureThreshold>
      <newFailureThreshold></newFailureThreshold>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <pluginName>[FINDBUGS] </pluginName>
      <thresholdLimit>low</thresholdLimit>
      <defaultEncoding></defaultEncoding>
      <pattern>**/findbugs.xml</pattern>
    </hudson.plugins.findbugs.FindBugsPublisher>
    <hudson.plugins.textfinder.TextFinderPublisher>
      <regexp>Compile failed</regexp>
      <succeedIfFound>false</succeedIfFound>
      <unstableIfFound>false</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher>
      <recipientList>MRGlobalHostTeam@ge.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <defaultSubject>Hudson-Notice: $DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.tasks.Mailer>
      <recipients>kriegand</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>