<project>
<actions/>
<description>
this job is deploying from workspace, passed from upstream job.
</description>
<keepDependencies>false</keepDependencies>
<properties>
<hudson.model.ParametersDefinitionProperty>
<parameterDefinitions>
<hudson.model.StringParameterDefinition>
<name>WORKSPACE</name>
<description/>
<defaultValue/>
</hudson.model.StringParameterDefinition>
</parameterDefinitions>
</hudson.model.ParametersDefinitionProperty>
</properties>
<scm class="hudson.scm.NullSCM"/>
<quietPeriod>0</quietPeriod>
<canRoam>true</canRoam>
<disabled>false</disabled>
<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
<triggers class="vector"/>
<concurrentBuild>false</concurrentBuild>
<builders>
<hudson.tasks.Shell>
<command>...</command>
</hudson.tasks.Shell>
</builders>
<publishers>
<hudson.tasks.BuildTrigger>
<childProjects>qa-fsdms-verify</childProjects>
<threshold>
<name>SUCCESS</name>
<ordinal>0</ordinal>
<color>BLUE</color>
</threshold>
</hudson.tasks.BuildTrigger>
<hudson.plugins.emailext.ExtendedEmailPublisher>
<recipientList>${EMAIL_FSDMS}</recipientList>
<configuredTriggers>
<hudson.plugins.emailext.plugins.trigger.FailureTrigger>
<email>
<recipientList>${EMAIL_FSDMS}</recipientList>
<subject>$PROJECT_DEFAULT_SUBJECT</subject>
<body>$PROJECT_DEFAULT_CONTENT</body>
<sendToDevelopers>false</sendToDevelopers>
<sendToRequester>false</sendToRequester>
<includeCulprits>false</includeCulprits>
<sendToRecipientList>true</sendToRecipientList>
</email>
</hudson.plugins.emailext.plugins.trigger.FailureTrigger>
<hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
<email>
<recipientList>${EMAIL_FSDMS}</recipientList>
<subject>$PROJECT_DEFAULT_SUBJECT</subject>
<body>
Deployed fsdms</br> <table> <tr><td>version:</td><td>${FILE,path="version"}</td></tr> <tr><td>workspace:</td><td>${ENV,var="WORKSPACE"}</td></tr> </table>
</body>
<sendToDevelopers>false</sendToDevelopers>
<sendToRequester>false</sendToRequester>
<includeCulprits>false</includeCulprits>
<sendToRecipientList>true</sendToRecipientList>
</email>
</hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
<hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
<email>
<recipientList>${EMAIL_FSDMS}</recipientList>
<subject>$PROJECT_DEFAULT_SUBJECT</subject>
<body>
Deployed fsdms</br> <table> <tr><td>version:</td><td>${FILE,path="version"}</td></tr> <tr><td>workspace:</td><td>${ENV,var="WORKSPACE"}</td></tr> </table>
</body>
<sendToDevelopers>false</sendToDevelopers>
<sendToRequester>false</sendToRequester>
<includeCulprits>false</includeCulprits>
<sendToRecipientList>true</sendToRecipientList>
</email>
</hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
<hudson.plugins.emailext.plugins.trigger.FixedTrigger>
<email>
<recipientList>${EMAIL_FSDMS}</recipientList>
<subject>$PROJECT_DEFAULT_SUBJECT</subject>
<body>
Deployed fsdms</br> <table> <tr><td>version:</td><td>${FILE,path="version"}</td></tr> <tr><td>workspace:</td><td>${ENV,var="WORKSPACE"}</td></tr> </table>
</body>
<sendToDevelopers>false</sendToDevelopers>
<sendToRequester>false</sendToRequester>
<includeCulprits>false</includeCulprits>
<sendToRecipientList>true</sendToRecipientList>
</email>
</hudson.plugins.emailext.plugins.trigger.FixedTrigger>
</configuredTriggers>
<contentType>default</contentType>
<defaultSubject>
$PROJECT_NAME - Deploy # $BUILD_NUMBER - $BUILD_STATUS!
</defaultSubject>
<defaultContent>
fsdms</br> <table> <tr><td>version:</td><td>${FILE,path="version"}</td></tr> <tr><td>workspace:</td><td>${ENV,var="WORKSPACE"}</td></tr> </table> $DEFAULT_CONTENT
</defaultContent>
<attachmentsPattern/>
<presendScript/>
</hudson.plugins.emailext.ExtendedEmailPublisher>
</publishers>
<buildWrappers/>
</project>