<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Testing filters of AC parameters rendered as combo, radio, check style</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@2.6.2">
          <name>FIRST_PARAMETER</name>
          <description>Filter works</description>
          <randomName>choice-parameter-10887796183700</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1175.v4b_d517d6db_f0">
              <script>return[&apos;Active&apos;,&apos;Choices&apos;,&apos;plugin&apos;,&apos;rocks&apos;]</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1175.v4b_d517d6db_f0">
              <script></script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>JENKINS-67982</projectName>
          <projectFullName>JENKINS-67982</projectFullName>
          <choiceType>PT_MULTI_SELECT</choiceType>
          <filterable>true</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.ChoiceParameter>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@2.6.2">
          <name>SECOND_PARAMETER</name>
          <description>Filter does not work</description>
          <randomName>choice-parameter-10887802700300</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1175.v4b_d517d6db_f0">
              <script>return[&apos;Active&apos;,&apos;Choices&apos;,&apos;plugin&apos;,&apos;rocks&apos;]</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1175.v4b_d517d6db_f0">
              <script></script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>JENKINS-67982</projectName>
          <projectFullName>JENKINS-67982</projectFullName>
          <choiceType>PT_RADIO</choiceType>
          <filterable>true</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.ChoiceParameter>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@2.6.2">
          <name>THIRD_PARAMETER</name>
          <description>Filter does not work</description>
          <randomName>choice-parameter-15408841694400</randomName>
          <visibleItemCount>1</visibleItemCount>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <secureScript plugin="script-security@1175.v4b_d517d6db_f0">
              <script>return[&apos;Active&apos;,&apos;Choices&apos;,&apos;plugin&apos;,&apos;rocks&apos;]</script>
              <sandbox>false</sandbox>
            </secureScript>
            <secureFallbackScript plugin="script-security@1175.v4b_d517d6db_f0">
              <script></script>
              <sandbox>false</sandbox>
            </secureFallbackScript>
          </script>
          <projectName>JENKINS-67982</projectName>
          <projectFullName>JENKINS-67982</projectFullName>
          <choiceType>PT_CHECKBOX</choiceType>
          <filterable>true</filterable>
          <filterLength>1</filterLength>
        </org.biouno.unochoice.ChoiceParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers/>
</project>