<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;a href=&quot;http://galinstan/projects/jgrmsts&quot;&gt;My site&lt;/a&gt; | &lt;a href=&quot;http://jgrmsts.codeplex.com&quot;&gt;CodePlex site&lt;/a&gt;</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.batch__task.BatchTaskProperty>
      <tasks>
        <hudson.plugins.batch__task.BatchTask>
          <name>Release</name>
          <script>&quot;C:\Windows\Microsoft.NET\Framework\v3.5\MSBuild&quot; &quot;JGR MSTS Editor.sln&quot; /t:Clean;Build /p:Configuration=Release&#xd;
COPY &quot;LICENSE&quot; &quot;bin\Release\License.txt&quot; /Y&#xd;
COPY &quot;Readme.txt&quot; &quot;bin\Release\Readme.txt&quot; /Y&#xd;
CALL &quot;..\..\sign&quot; &quot;bin\Release\*.dll&quot; &quot;bin\Release\*.exe&quot;&#xd;
DEL &quot;release.zip&quot; /F /Q &amp;&amp; PUSHD &quot;bin\Release&quot; &amp;&amp; &quot;C:\Users\James\Programs\7-zip\7za&quot; a -r -tzip &quot;..\..\release.zip&quot; . &amp;&amp; POPD</script>
        </hudson.plugins.batch__task.BatchTask>
      </tasks>
    </hudson.plugins.batch__task.BatchTaskProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://jgrmsts.svn.codeplex.com/svn</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>true</useUpdate>
    <doRevert>false</doRevert>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>@hourly</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.msbuild.MsBuildBuilder>
      <msBuildName>MSBuild 3.5</msBuildName>
      <msBuildFile>&quot;JGR MSTS Editor.sln&quot;</msBuildFile>
      <cmdLineArgs>/t:Clean;Build /p:Configuration=Debug</cmdLineArgs>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>&quot;..\..\sign.cmd&quot; &quot;bin\Debug\*.exe&quot; &quot;bin\Debug\*.dll&quot;</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>&quot;..\..\FXCop Rules\FxCop.cmd&quot; /file:&quot;bin\Debug\*.exe&quot; /file:&quot;bin\Debug\*.dll&quot;</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>DEL tests.trx &amp; &quot;C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\MSTest.exe&quot; /runconfig:LocalTestRun.testrunconfig /testcontainer:bin\Debug\Tests.dll /resultsfile:tests.trx &amp; SETLOCAL ENABLEEXTENSIONS</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>COPY &quot;LICENSE&quot; &quot;bin\Debug\License.txt&quot; /Y &amp; COPY &quot;Readme.txt&quot; &quot;bin\Debug\Readme.txt&quot; /Y</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>DEL &quot;build.zip&quot; /F /Q &amp;&amp; PUSHD &quot;bin\Debug&quot; &amp;&amp; &quot;C:\Users\James\Programs\7-zip\7za.exe&quot; a -r -tzip &quot;..\..\build.zip&quot; . &amp;&amp; POPD</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>IF NOT EXIST &quot;Microsoft Train Simulator&quot; MKLINK /J &quot;Microsoft Train Simulator&quot; &quot;C:\Users\James\Documents\Microsoft Train Simulator&quot;</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>&quot;SimisFile Test MSTS.cmd&quot; &quot;bin\Debug&quot;</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>IF EXIST &quot;Microsoft Train Simulator&quot; RMDIR &quot;Microsoft Train Simulator&quot;</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.tasks.TasksPublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[TASKS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <high>FIXME</high>
      <normal>TODO</normal>
      <low></low>
      <ignoreCase>true</ignoreCase>
      <pattern>**/*.cs</pattern>
      <excludePattern></excludePattern>
    </hudson.plugins.tasks.TasksPublisher>
    <hudson.plugins.warnings.WarningsPublisher>
      <healthy></healthy>
      <unHealthy></unHealthy>
      <thresholdLimit>low</thresholdLimit>
      <pluginName>[WARNINGS] </pluginName>
      <defaultEncoding></defaultEncoding>
      <canRunOnFailed>false</canRunOnFailed>
      <useDeltaValues>false</useDeltaValues>
      <thresholds>
        <unstableTotalAll></unstableTotalAll>
        <unstableTotalHigh></unstableTotalHigh>
        <unstableTotalNormal></unstableTotalNormal>
        <unstableTotalLow></unstableTotalLow>
        <unstableNewAll></unstableNewAll>
        <unstableNewHigh></unstableNewHigh>
        <unstableNewNormal></unstableNewNormal>
        <unstableNewLow></unstableNewLow>
        <failedTotalAll></failedTotalAll>
        <failedTotalHigh></failedTotalHigh>
        <failedTotalNormal></failedTotalNormal>
        <failedTotalLow></failedTotalLow>
        <failedNewAll></failedNewAll>
        <failedNewHigh></failedNewHigh>
        <failedNewNormal></failedNewNormal>
        <failedNewLow></failedNewLow>
      </thresholds>
      <pattern></pattern>
      <parserNames>
        <string>MSBuild</string>
      </parserNames>
      <ignoreConsole>false</ignoreConsole>
    </hudson.plugins.warnings.WarningsPublisher>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>build.zip</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.mstest.MSTestPublisher>
      <testResultsFile>tests.trx</testResultsFile>
    </hudson.plugins.mstest.MSTestPublisher>
    <hudson.plugins.plot.PlotPublisher>
      <plots>
        <hudson.plugins.plot.Plot>
          <title>File Support Test</title>
          <yaxis>Files</yaxis>
          <series>
            <hudson.plugins.plot.PropertiesSeries>
              <file>simisfile_total.properties</file>
              <label>Total</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
            <hudson.plugins.plot.PropertiesSeries>
              <file>simisfile_read.properties</file>
              <label>Read</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
            <hudson.plugins.plot.PropertiesSeries>
              <file>simisfile_write.properties</file>
              <label>Write</label>
              <fileType>properties</fileType>
            </hudson.plugins.plot.PropertiesSeries>
          </series>
          <group>Simis Formats</group>
          <numBuilds></numBuilds>
          <csvFileName>1760439158.csv</csvFileName>
          <csvLastModification>0</csvLastModification>
          <style>line</style>
          <useDescr>false</useDescr>
        </hudson.plugins.plot.Plot>
      </plots>
    </hudson.plugins.plot.PlotPublisher>
    <hudson.plugins.violations.ViolationsPublisher>
      <config>
        <suppressions class="tree-set">
          <no-comparator/>
        </suppressions>
        <typeConfigs>
          <no-comparator/>
          <entry>
            <string>checkstyle</string>
            <hudson.plugins.violations.TypeConfig>
              <type>checkstyle</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>codenarc</string>
            <hudson.plugins.violations.TypeConfig>
              <type>codenarc</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>cpd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>cpd</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>findbugs</string>
            <hudson.plugins.violations.TypeConfig>
              <type>findbugs</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>fxcop</string>
            <hudson.plugins.violations.TypeConfig>
              <type>fxcop</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern>fxcop.xml</pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>gendarme</string>
            <hudson.plugins.violations.TypeConfig>
              <type>gendarme</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>jcreport</string>
            <hudson.plugins.violations.TypeConfig>
              <type>jcreport</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>jslint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>jslint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pmd</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pmd</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>pylint</string>
            <hudson.plugins.violations.TypeConfig>
              <type>pylint</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>simian</string>
            <hudson.plugins.violations.TypeConfig>
              <type>simian</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
          <entry>
            <string>stylecop</string>
            <hudson.plugins.violations.TypeConfig>
              <type>stylecop</type>
              <min>10</min>
              <max>999</max>
              <unstable>999</unstable>
              <usePattern>false</usePattern>
              <pattern></pattern>
            </hudson.plugins.violations.TypeConfig>
          </entry>
        </typeConfigs>
        <limit>100</limit>
        <sourcePathPattern></sourcePathPattern>
        <fauxProjectPath></fauxProjectPath>
        <encoding>default</encoding>
      </config>
    </hudson.plugins.violations.ViolationsPublisher>
    <com.thalesgroup.hudson.plugins.copyarchiver.CopyArchiverPublisher>
      <sharedDirectoryPath>C:\Users\James\Website\Root\projects\jgrmsts\builds\${BUILD_ID}</sharedDirectoryPath>
      <flatten>false</flatten>
      <deleteShared>false</deleteShared>
      <archivedJobList>
        <com.thalesgroup.hudson.plugins.copyarchiver.ArchivedJobEntry>
          <jobName>JGR MSTS Editors and Tools</jobName>
          <pattern>build.zip</pattern>
          <excludes></excludes>
        </com.thalesgroup.hudson.plugins.copyarchiver.ArchivedJobEntry>
      </archivedJobList>
    </com.thalesgroup.hudson.plugins.copyarchiver.CopyArchiverPublisher>
  </publishers>
  <buildWrappers/>
</project>