<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Test treatment of test failures in hudson vs. jenkins&#xd;
</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>250</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.4">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://mysvn/sandbox/bsailer/de.logiball.ci.testfailure.test</remote>
        <credentialsId>d00dcc31-2ac0-46db-9209-4b5b1d67eee9</credentialsId>
        <local>de.logiball.ci.testfailure.test</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.CheckoutUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.buckminster.EclipseBuckminsterBuilder plugin="buckminster@1.1.1">
      <installationName>Buckminster 3.7</installationName>
      <commands>import ${WORKSPACE}/de.logiball.ci.testfailure.test/build.cquery
build
junit -l &apos;/de.logiball.ci.testfailure.test/.launches/de.logiball.ci.testfailure.test.launch&apos; -o ${WORKSPACE}/de.logiball.ci.testfailure.test_JUnit.xml --flatXML
</commands>
      <logLevel>info</logLevel>
      <params></params>
      <targetPlatformName>None</targetPlatformName>
      <userTemp></userTemp>
      <userOutput></userOutput>
      <userCommand></userCommand>
      <userWorkspace></userWorkspace>
      <globalPropertiesFile></globalPropertiesFile>
      <equinoxLauncherArgs></equinoxLauncherArgs>
    </hudson.plugins.buckminster.EclipseBuckminsterBuilder>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.xml</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>*JUnit.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>