<org.jfrog.hudson.gradle.ArtifactoryGradleConfigurator plugin="artifactory@2.2.7">
<deployMaven>true</deployMaven>
<deployIvy>false</deployIvy>
<deployBuildInfo>true</deployBuildInfo>
<includeEnvVars>false</includeEnvVars>
<runChecks>false</runChecks>
<includePublishArtifacts>false</includePublishArtifacts>
<licenseAutoDiscovery>true</licenseAutoDiscovery>
<disableLicenseAutoDiscovery>false</disableLicenseAutoDiscovery>
<enableIssueTrackerIntegration>false</enableIssueTrackerIntegration>
<aggregateBuildIssues>false</aggregateBuildIssues>
<artifactPattern>
[organisation]/api-domain/[revision]/[artifact]-[revision](-[classifier]).[ext]
</artifactPattern>
<notM2Compatible>false</notM2Compatible>
<artifactDeploymentPatterns>
<includePatterns/>
<excludePatterns/>
</artifactDeploymentPatterns>
<discardOldBuilds>false</discardOldBuilds>
<passIdentifiedDownstream>false</passIdentifiedDownstream>
<releaseWrapper>
<tagPrefix/>
<releaseBranchPrefix/>
<targetRemoteName/>
<alternativeTasks/>
<releasePropsKeys>version</releasePropsKeys>
<nextIntegPropsKeys>version</nextIntegPropsKeys>
</releaseWrapper>
<discardBuildArtifacts>true</discardBuildArtifacts>
<skipInjectInitScript>false</skipInjectInitScript>
<allowPromotionOfNonStagedBuilds>false</allowPromotionOfNonStagedBuilds>
<blackDuckRunChecks>false</blackDuckRunChecks>
<filterExcludedArtifactsFromBuild>false</filterExcludedArtifactsFromBuild>
<details>
<artifactoryUrl>http://my.artifactory/artifactory</artifactoryUrl>
<artifactoryName>8@1</artifactoryName>
<repositoryKey>esv-deploy</repositoryKey>
<snapshotsRepositoryKey>esv-deploy</snapshotsRepositoryKey>
<downloadReleaseRepositoryKey>libs-release</downloadReleaseRepositoryKey>
<downloadReleaseRepositoryDisplayName>libs-release</downloadReleaseRepositoryDisplayName>
<stagingPlugin>
<pluginName>None</pluginName>
</stagingPlugin>
<userPluginKey>None</userPluginKey>
</details>
<deployArtifacts>true</deployArtifacts>
<envVarsPatterns>
<includePatterns/>
<excludePatterns>*password*,*secret*</excludePatterns>
</envVarsPatterns>
<blackDuckIncludePublishedArtifacts>false</blackDuckIncludePublishedArtifacts>
<autoCreateMissingComponentRequests>true</autoCreateMissingComponentRequests>
<autoDiscardStaleComponentRequests>true</autoDiscardStaleComponentRequests>
</org.jfrog.hudson.gradle.ArtifactoryGradleConfigurator>