<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>JAVA 4_208 From Weblogic</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <org.jenkinsci.plugins.deploy.weblogic.WeblogicDeploymentPlugin plugin="weblogic-deployer-plugin@2.6">
      <mustExitOnFailure>true</mustExitOnFailure>
      <forceStopOnFirstFailure>false</forceStopOnFirstFailure>
      <selectedDeploymentStrategyIds/>
      <isDeployingOnlyWhenUpdates>false</isDeployingOnlyWhenUpdates>
      <deployedProjectsDependencies></deployedProjectsDependencies>
      <tasks>
        <org.jenkinsci.plugins.deploy.weblogic.data.DeploymentTask>
          <id>VyzggSjiGh</id>
          <weblogicEnvironmentTargetedName>Weblogic 8.1 - SIS Stage</weblogicEnvironmentTargetedName>
          <deploymentName>CCHSIS</deploymentName>
          <deploymentTargets>cgServer</deploymentTargets>
          <isLibrary>false</isLibrary>
          <builtResourceRegexToDeploy>CCHSIS\.ear</builtResourceRegexToDeploy>
          <baseResourcesGeneratedDirectory>E:\Jenkins\jobs\SIS_Branch_VMS_Phase2_V1_0_002\workspace\CCHSIS</baseResourcesGeneratedDirectory>
          <taskName>SIS Stage boc005wlo</taskName>
          <jdk>
            <name>JAVA 4_208 From Weblogic</name>
            <home>E:\Servers\Weblogic\8.1sp5\jdk142_08</home>
            <properties/>
          </jdk>
          <stageMode>bydefault</stageMode>
          <commandLine></commandLine>
          <deploymentPlan></deploymentPlan>
        </org.jenkinsci.plugins.deploy.weblogic.data.DeploymentTask>
      </tasks>
    </org.jenkinsci.plugins.deploy.weblogic.WeblogicDeploymentPlugin>
    <hudson.tasks.Mailer plugin="mailer@1.5">
      <recipients>achikane@ccrn.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>