<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>https://svne1.access.nokiasiemensnetworks.com/isource/svnroot/SS_MGWMPCMDNConv/trunk/SS_MGWMPCMDNConv</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>* * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/home/hzmgwscm/projects/ui5_trunk/atcamgw-main/SS_MGWMPCMDNConv</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd /home/hzmgwscm/CIscript/mgw_hudson_ci
chmod 777 ./hudsonpublish.sh
./hudsonpublish.sh SS_MGWMPCMDNConv ui5 trunk standard cmt</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd /home/hzmgwscm/CIscript/mgw_hudson_ci
chmod 777 ./hudsonpublish.sh
./hudsonpublish.sh SS_MGWMPCMDNConv ui5 trunk standard cpd</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd /home/hzmgwscm/CIscript/mgw_hudson_ci
chmod 777 ./hudsonpublish.sh
./hudsonpublish.sh SS_MGWMPCMDNConv ui5 trunk x86_64 lint
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd /home/hzmgwscm/CIscript/mgw_hudson_ci
./CMTpublish.sh SS_MGWMPCMDNConv
./CPDpublish.sh SS_MGWMPCMDNConv
./LINTpublish.sh SS_MGWMPCMDNConv</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd /home/hzmgwscm/CIscript/mgw_hudson_ci
chmod 777 ./hudsonbuild.sh
./hudsonbuild.sh SS_MGWMPCMDNConv ui5 trunk x86_64
./hudsonbuild.sh SS_MGWMPCMDNConv ui5 trunk x86_64 make_utest</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd /home/hzmgwscm/CIscript/mgw_hudson_ci
./UTpublish.sh SS_MGWMPCMDNConv</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <htmlpublisher.HtmlPublisher>
      <reportTargets>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>CMT Report</reportName>
          <reportDir>build/artifacts/CMTHTML</reportDir>
          <reportFiles>index.html</reportFiles>
          <keepAll>false</keepAll>
          <wrapperName>htmlpublisher-wrapper.html</wrapperName>
        </htmlpublisher.HtmlPublisherTarget>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>CPD Report</reportName>
          <reportDir>build/artifacts/PMD</reportDir>
          <reportFiles>cpd.html</reportFiles>
          <keepAll>false</keepAll>
          <wrapperName>htmlpublisher-wrapper.html</wrapperName>
        </htmlpublisher.HtmlPublisherTarget>
        <htmlpublisher.HtmlPublisherTarget>
          <reportName>Static Check Report</reportName>
          <reportDir>build/artifacts/pylintreport</reportDir>
          <reportFiles>index.htm</reportFiles>
          <keepAll>false</keepAll>
          <wrapperName>htmlpublisher-wrapper.html</wrapperName>
        </htmlpublisher.HtmlPublisherTarget>
      </reportTargets>
    </htmlpublisher.HtmlPublisher>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>build/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher>
      <recipientList>jianfeng.chen@nsn.com,I_NWS_VIPT_RD_MGW_HZ_UI@internal.nsn.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>${JELLY_SCRIPT, template=&quot;html&quot;}&#xd;
${JELLY_SCRIPT, template=&quot;ut&quot;}&#xd;
${FILE, path=&quot;build/artifacts/ut.html&quot;} &#xd;
${JELLY_SCRIPT, template=&quot;valgrind&quot;}&#xd;
${FILE, path=&quot;build/artifacts/valgrind.html&quot;} &#xd;
${JELLY_SCRIPT, template=&quot;cmt&quot;}&#xd;
${FILE, path=&quot;build/artifacts/cmt.html&quot;} &#xd;
${JELLY_SCRIPT, template=&quot;cpd&quot;}&#xd;
${FILE, path=&quot;build/artifacts/cpd.html&quot;} &#xd;
${JELLY_SCRIPT, template=&quot;lint&quot;}&#xd;
${FILE, path=&quot;build/artifacts/lint.html&quot;}</defaultContent>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>