<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>true</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.perforce.PerforceSCM">
    <p4User>anon</p4User>
    <p4Passwd>0f0kqlwagDFXH9OKWQo=</p4Passwd>
    <p4Port>USDBY1-TCNWBP03:1666</p4Port>
    <p4Client>${JOB_NAME}</p4Client>
    <clientSpec>&quot;//Sorter/Installers/Proteus/Current Workspace.txt&quot;</clientSpec>
    <projectPath>&quot;//depot/Olympus/SiteServer/Proteus Installer/current/...&quot; //Proteus_Installer_Test/...
//depot/Olympus/SiteServer/Custom/... //Proteus_Installer_Test/Custom/...
&quot;//depot/Common/SoftPro/SignWare 2.6.1/...&quot; &quot;//Proteus_Installer_Test/Common/SoftPro/SignWare 2.6.1/...&quot;
&quot;//depot/Utilities/XQuiSoft Logging/2.4/Release/...&quot; &quot;//Proteus_Installer_Test/Utilities/XQuiSoft Logging/2.4/Release/...&quot;
&quot;//depot/Utilities/XQuiSoft Logging/2.1.50727/Release/...&quot; &quot;//Proteus_Installer_Test/Utilities/XQuiSoft Logging/2.1.50727/Release/...&quot;
//depot/Olympus/MDApplyDelta/current/config/... //Proteus_Installer_Test/Olympus/MDApplyDelta/current/config/...
//depot/Olympus/MDDelete/current/config/... //Proteus_Installer_Test/Olympus/MDDelete/current/config/...
//depot/Olympus/MDUpdater/current/... //Proteus_Installer_Test/Olympus/MDUpdater/current/...
//depot/Olympus/JobFileSanitizer/current/... //Proteus_Installer_Test/Olympus/JobFileSanitizer/current/...
//depot/Olympus/QualEngine/current/... //Proteus_Installer_Test/Olympus/QualEngine/current/...
//depot/Olympus/SnglRegroup/current/... //Proteus_Installer_Test/Olympus/SnglRegroup/current/...
//depot/Olympus/DropShipEngine/current/... //Proteus_Installer_Test/Olympus/DropShipEngine/current/...
//depot/Olympus/MDComposer/current/... //Proteus_Installer_Test/Olympus/MDComposer/current/...
//depot/Olympus/MakeBillingReports/current/... //Proteus_Installer_Test/Olympus/MakeBillingReports/current/...
//depot/Olympus/SortPlanner/current/... //Proteus_Installer_Test/Olympus/SortPlanner/current/...
//depot/Olympus/Tag2Csa/current/... //Proteus_Installer_Test/Olympus/Tag2Csa/current/...
//3rd_Party/AddressVision/... //Proteus_Installer_Test/3rd_Party/AddressVision/...
//depot/Olympus/Parascript/AddressScriptInternational/5.7/DGS/... //Proteus_Installer_Test/Olympus/Parascript/AddressScriptInternational/5.7/DGS/...
&quot;//depot/Olympus/Collection and Reporting/PBMC/current/PBMC Install/Machine.config&quot; &quot;//Proteus_Installer_Test/Olympus/Collection and Reporting/PBMC/current/PBMC Install/Machine.config&quot;
&quot;//depot/STL/Visual C++ 6.0/lib/MCVCP60.dll&quot; &quot;//Proteus_Installer_Test/STL/Visual C++ 6.0/lib/MCVCP60.dll&quot;
&quot;//depot/Common/Setups/InnoSetup/Directive Installer/current/Directive_Utilities.iss&quot; //Proteus_Installer_Test/Directive_Utilities.iss
//depot/Olympus/SiteServer/DDCS_Import/current/... //Proteus_Installer_Test/DDCS/DDCS_Import/...
//depot/Olympus/SiteServer/Interface/current/... //Proteus_Installer_Test/DDCS/Interface/...
//depot/Olympus/SiteServer/SortSchemeDB/current/... //Proteus_Installer_Test/DDCS/SortSchemeDB/...
//depot/Olympus/SiteServer/CodXStdInterface/current/... //Proteus_Installer_Test/DDCS/CodXStdInterface/...
//depot/Olympus/SiteServer/SorterInterfaceDB/current/... //Proteus_Installer_Test/DDCS/SorterInterfaceDB/...
//depot/Olympus/SiteServer/German/current/... //Proteus_Installer_Test/DDCS/German/...
//depot/Olympus/SiteServer/Incoming/current/... //Proteus_Installer_Test/DDCS/Incoming/...
//depot/Olympus/SiteServer/ASV/current/... //Proteus_Installer_Test/DDCS/ASV/...
//depot/Olympus/SiteServer/ReliaVote/current/... //Proteus_Installer_Test/DDCS/ReliaVote/...
//depot/Olympus/SiteServer/FullService/current/... //Proteus_Installer_Test/DDCS/FullService/...
//depot/Olympus/SiteServer/SSM/current/... //Proteus_Installer_Test/DDCS/SSM/...
//depot/Olympus/SiteServer/International/current/... //Proteus_Installer_Test/DDCS/International/...
//depot/Olympus/SiteServer/InternationalWithSecondaries/current/... //Proteus_Installer_Test/DDCS/InternationalWithSecondaries/...
//depot/Olympus/SiteServer/Italy/current/... //Proteus_Installer_Test/DDCS/Italy/...
//depot/Olympus/SiteServer/UK/current/... //Proteus_Installer_Test/DDCS/UK/...
//depot/Olympus/SiteServer/Australia/current/... //Proteus_Installer_Test/DDCS/Australia/...
</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4Exe>p4.exe</p4Exe>
    <p4SysDrive>C:</p4SysDrive>
    <p4SysRoot>C:\\Windows</p4SysRoot>
    <useClientSpec>true</useClientSpec>
    <forceSync>false</forceSync>
    <alwaysForceSync>true</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableSyncOnly>false</disableSyncOnly>
    <useOldClientName>false</useOldClientName>
    <updateView>false</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>false</dontUpdateClient>
    <exposeP4Passwd>true</exposeP4Passwd>
    <wipeBeforeBuild>true</wipeBeforeBuild>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <excludedUsers>anon</excludedUsers>
    <excludedFiles>&quot;//depot/Olympus/SiteServer/Custom/...&quot;</excludedFiles>
    <slaveClientNameFormat>${basename}-${hash}</slaveClientNameFormat>
    <lineEndValue></lineEndValue>
    <useViewMask>false</useViewMask>
    <useViewMaskForPolling>false</useViewMaskForPolling>
    <useViewMaskForSyncing>false</useViewMaskForSyncing>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>true</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec># every 30 minutes
*/30 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>SET DEPOT=.
SET THIRD_PARTY=./3rd_Party
SET Custom_Ext_Location=.
SET CARPENTER=\\USDBY1-TCNWBP03.pbi.global.pvt\Sorter_Build_Area
SET Build_Server=True
.\gather.bat</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>&quot;C:\dev\tools\Inno Setup 5\iscc.exe&quot; &quot;Pitney Bowes Proteus.iss&quot;</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
      <publishers>
        <org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
          <condition class="org.jenkins_ci.plugins.run_condition.core.FileExistsCondition">
            <file>LastRelease.htm</file>
            <baseDir class="org.jenkins_ci.plugins.run_condition.common.BaseDirectory$Workspace"/>
          </condition>
          <publisher class="htmlpublisher.HtmlPublisher">
            <reportTargets>
              <htmlpublisher.HtmlPublisherTarget>
                <reportName>Release Notes</reportName>
                <reportDir>.</reportDir>
                <reportFiles>LastRelease.htm</reportFiles>
                <keepAll>true</keepAll>
                <wrapperName>htmlpublisher-wrapper.html</wrapperName>
              </htmlpublisher.HtmlPublisherTarget>
            </reportTargets>
          </publisher>
          <runner class="org.jenkins_ci.plugins.run_condition.BuildStepRunner$Run"/>
        </org.jenkins__ci.plugins.flexible__publish.ConditionalPublisher>
      </publishers>
    </org.jenkins__ci.plugins.flexible__publish.FlexiblePublisher>
    <hudson.plugins.logparser.LogParserPublisher>
      <unstableOnWarning>true</unstableOnWarning>
      <failBuildOnError>true</failBuildOnError>
      <parsingRulesPath>d:\hudson\LogParser_BasicRules.txt</parsingRulesPath>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.tasks.Fingerprinter>
      <targets>Output\</targets>
      <recordBuildArtifacts>false</recordBuildArtifacts>
    </hudson.tasks.Fingerprinter>
    <hudson.plugins.claim.ClaimPublisher/>
    <hudson.plugins.emailext.ExtendedEmailPublisher>
      <recipientList>michael.henderson@pb.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>The project built but was marked as unstable due to warnings in the console log.
Please review the console logs.
Click build page to claim the bad build: ${BUILD_URL}

$PROJECT_DEFAULT_CONTENT

Unit Tests: (If any)
${FAILED_TESTS}

Warning messages:
${BUILD_LOG_REGEX, regex=&quot;(?i)warning &quot;, linesBefore=10, showTruncatedLines=true}
</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>true</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>Click build page to claim the bad build: ${BUILD_URL}

$PROJECT_DEFAULT_CONTENT

Unit Tests: (If any)
${FAILED_TESTS}

Build Log (Up to last 50 lines)
${BUILD_LOG, maxLines=50, escapeHtml=true}
</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>true</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>${BUILD_LOG_REGEX, regex=&quot;Installer Version Found&quot;, showTruncatedLines=false}
$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>true</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>false</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>Release Build: &quot;${ENV, var=&quot;Label&quot;}&quot; (If Empty then only a regular test build)

$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <com.progress.hudson.ScheduleFailedBuildsPublisher>
      <interval>5</interval>
      <maxRetries>2</maxRetries>
    </com.progress.hudson.ScheduleFailedBuildsPublisher>
    <hudson.plugins.ws__cleanup.WsCleanup>
      <patterns>
        <hudson.plugins.ws__cleanup.Pattern>
          <pattern>*.*</pattern>
          <type>INCLUDE</type>
        </hudson.plugins.ws__cleanup.Pattern>
      </patterns>
      <deleteDirs>false</deleteDirs>
    </hudson.plugins.ws__cleanup.WsCleanup>
  </publishers>
  <buildWrappers>
    <hudson.plugins.release.ReleaseWrapper>
      <releaseVersionTemplate>Release: ${Label}</releaseVersionTemplate>
      <doNotKeepLog>false</doNotKeepLog>
      <overrideBuildParameters>false</overrideBuildParameters>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Label</name>
          <description>Please specify the directory to produce the output to in the Installs Folder (Relative to the proper build)
i.e. &quot;Private Post Release&quot; will create a folder: 
&quot;\\USDBY1-MLCDFLP1.pbi.global.pvt\Sorter_SW\Installs\Site Server Software\Proteus Installers\3.2.4\Private Post Release\&quot;
</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
      <preBuildSteps>
        <hudson.tasks.BatchFile>
          <command>rem Checkout Directive.ini and update version.  Checkin will happen at the end of the Release Build...
p4.exe edit &quot;.\InstallDirective.ini&quot;
&quot;\\Usdby1-tcnwbp03\Shared\Sorter\Builds\Utilities\PB Version Update Utility\PB Version Update Utility.exe&quot; -f .\InstallDirective.ini -k &quot;Base&quot; -n &quot;Install Version&quot; -b
</command>
        </hudson.tasks.BatchFile>
      </preBuildSteps>
      <postBuildSteps/>
      <postSuccessfulBuildSteps>
        <hudson.tasks.BatchFile>
          <command>rem This is where the directive gets checked back into Perforce with the updated version number.
p4.exe submit -d &quot;%Label%&quot; &quot;.\InstallDirective.ini&quot;
</command>
        </hudson.tasks.BatchFile>
        <hudson.plugins.powershell.PowerShell>
          <command>echo &quot;Now starting identification and copying of installer to server...&quot;
$env:ROOT = &quot;\\USDBY1-MLCDFLP1.pbi.global.pvt\Sorter_SW\Installs\Site Server Software\Proteus Installers\3.2.4&quot;
$env:FILE_DESIRED = &quot;Output\Pitney Bowes - Proteus.exe&quot;
echo &quot;Looking at $env:WORKSPACE\$env:FILE_DESIRED&quot;
$env:INSTALLER_VERSION = ([System.Diagnostics.FileVersionInfo]::GetVersionInfo(&quot;$env:WORKSPACE\$env:FILE_DESIRED&quot;)).ProductVersion.Trim()
if ($? -eq $false) {exit 1}
echo &quot;Installer Version Found: $env:INSTALLER_VERSION&quot;
cmd /c xcopy &quot;.\Output\*.*&quot; &quot;$env:ROOT\$env:INSTALLER_VERSION - $env:Label&quot; /S/Y/I
if ($? -eq $false) {exit 1}

$a = &quot;&lt;style&gt;&quot;
$a = $a + &quot;BODY{background-color:lightblue;}&quot;
$a = $a + &quot;TABLE{border-width: 1px;border-style: solid;border-color: black;border-collapse: collapse;}&quot;
$a = $a + &quot;TH{border-width: 1px;padding: 0px;border-style: solid;border-color: black;background-color:thistle}&quot;
$a = $a + &quot;TD{border-width: 1px;padding: 0px;border-style: solid;border-color: black;background-color:palegoldenrod}&quot;
$a = $a + &quot;&lt;/style&gt;&quot;
$a = $a + &quot;&lt;h1&gt;&lt;b&gt;Job: $env:JOB_NAME&lt;/b&gt;&lt;/h1&gt;&lt;br/&gt;&quot;
$a = $a + &quot;Release build completed: $env:BUILD_ID&lt;br/&gt;&quot;
$a = $a + &quot;Label: $env:Label&lt;br/&gt;&quot;
$a = $a + &quot;Installer Version: $env:INSTALLER_VERSION&lt;br/&gt;&quot;
$a = $a + &quot;Output directory: $env:ROOT\$env:INSTALLER_VERSION - $env:Label&lt;br/&gt;&quot;
$a = $a + &quot;&lt;a href=`&quot;$env:ROOT\$env:INSTALLER_VERSION - $env:Label`&quot;&gt;Direct Link&lt;/a&gt;&lt;br/&gt;&lt;br/&gt;&quot;
$a = $a + &quot;&lt;br/&gt;&quot;
$a = $a + &quot;Last Perforce Changelist: $env:P4_CHANGELIST&lt;br/&gt;&quot;
$a = $a + &quot;Perforce Workspace: $env:P4CLIENT&lt;br/&gt;&quot;
ConvertTo-HTML -head $a | Out-File LastRelease.htm</command>
        </hudson.plugins.powershell.PowerShell>
      </postSuccessfulBuildSteps>
      <postFailedBuildSteps>
        <hudson.tasks.BatchFile>
          <command>rem This is where the directive gets reverted in Perforce so the version doesn&apos;t get used
p4.exe revert &quot;.\InstallDirective.ini&quot;
</command>
        </hudson.tasks.BatchFile>
      </postFailedBuildSteps>
    </hudson.plugins.release.ReleaseWrapper>
  </buildWrappers>
</project>