<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Project to execute Morning Checkout for Sales Dashboard</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>30</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name></name>
          <description></description>
          <allowedSlaves/>
          <defaultSlaves>
            <string>GAALPA2OPUSIA30</string>
          </defaultSlaves>
          <triggerIfResult>multiSelectionDisallowed</triggerIfResult>
          <allowMultiNodeSelection>false</allowMultiNodeSelection>
          <triggerConcurrentBuilds>false</triggerConcurrentBuilds>
          <ignoreOfflineNodes>false</ignoreOfflineNodes>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.NodeParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
 <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.hpe.application.automation.tools.run.RunLoadRunnerScript plugin="hp-application-automation-tools-plugin@5.2">
      <scriptsPath>E:\RPS_MasterScripts\Sales Dashboard\Sunrise_HealthChecks.usr</scriptsPath>
    </com.hpe.application.automation.tools.run.RunLoadRunnerScript>
  </builders>
  <publishers>
    <com.hpe.application.automation.tools.results.RunResultRecorder plugin="hp-application-automation-tools-plugin@5.2">
      <__resultsPublisherModel>
        <archiveTestResultsMode>PUBLISH_HTML_REPORT</archiveTestResultsMode>
      </__resultsPublisherModel>
    </com.hpe.application.automation.tools.results.RunResultRecorder>
  </publishers>
  <buildWrappers/>
</project>$