<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.hp.application.automation.tools.run.RunFromFileBuilder plugin="hp-application-automation-tools-plugin@4.5.0">
      <runFromFileModel>
        <fsTests>C:\2-16-17\LR_Selenium_N__Net_Scenario_2-16-17.lrs
</fsTests>
        <fsTimeout>600</fsTimeout>
        <controllerPollingInterval>30</controllerPollingInterval>
        <perScenarioTimeOut>600</perScenarioTimeOut>
        <ignoreErrorStrings></ignoreErrorStrings>
        <mcServerName></mcServerName>
        <fsUserName></fsUserName>
        <fsPassword>Ve#####C+rvz##w5F#CS/tV###h0=/###g1nFuDGD</fsPassword>
        <fsDeviceId></fsDeviceId>
        <fsOs></fsOs>
        <fsManufacturerAndModel></fsManufacturerAndModel>
        <fsTargetLab></fsTargetLab>
        <fsAutActions></fsAutActions>
        <fsLaunchAppName></fsLaunchAppName>
        <fsInstrumented></fsInstrumented>
        <fsDevicesMetrics></fsDevicesMetrics>
        <fsExtraApps></fsExtraApps>
        <fsJobId></fsJobId>
        <useSSL>false</useSSL>
      </runFromFileModel>
      <ResultFilename>ApiResults.xml</ResultFilename>
      <ParamFileName>ApiRun.txt</ParamFileName>
    </com.hp.application.automation.tools.run.RunFromFileBuilder>
  </builders>
  <publishers>
    <com.hp.application.automation.tools.results.RunResultRecorder plugin="hp-application-automation-tools-plugin@4.5.0">
      <__resultsPublisherModel>
        <archiveTestResultsMode>DONT_ARCHIVE_TEST_REPORT</archiveTestResultsMode>
      </__resultsPublisherModel>
    </com.hp.application.automation.tools.results.RunResultRecorder>
  </publishers>
  <buildWrappers/>
</project>