<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.biouno.unochoice.ChoiceParameter plugin="uno-choice@1.2">
          <name>test_var_a</name>
          <description></description>
          <randomName>choice-parameter-4997699865627528</randomName>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <script>return[&apos;opt_a&apos;,&apos;opt_b&apos;]</script>
            <fallbackScript></fallbackScript>
          </script>
          <visibleItemCount>1</visibleItemCount>
          <choiceType>PT_RADIO</choiceType>
          <filterable>false</filterable>
        </org.biouno.unochoice.ChoiceParameter>
        <org.biouno.unochoice.CascadeChoiceParameter plugin="uno-choice@1.2">
          <name>test_var_b</name>
          <description></description>
          <randomName>choice-parameter-4997699870287691</randomName>
          <script class="org.biouno.unochoice.model.GroovyScript">
            <script>return[&apos;opt_1:selected&apos;, &apos;opt_2&apos;]</script>
            <fallbackScript></fallbackScript>
          </script>
          <visibleItemCount>1</visibleItemCount>
          <parameters class="linked-hash-map"/>
          <referencedParameters></referencedParameters>
          <choiceType>PT_RADIO</choiceType>
          <filterable>false</filterable>
        </org.biouno.unochoice.CascadeChoiceParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.24">
      <autoRebuild>false</autoRebuild>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>env</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>