<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Mariner MR 6.2 nightly build beginning</description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.heavy__job.HeavyJobProperty plugin="heavy-job@1.0">
      <weight>1</weight>
    </hudson.plugins.heavy__job.HeavyJobProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.7.2">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <configVersion>1</configVersion>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.13"/>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.18"/>
    <org.jvnet.hudson.plugins.shelveproject.ShelveProjectProperty plugin="shelve-project-plugin@1.3"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>linux</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>00 1 * * 1-5</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>ERROR=&quot;${JOB_NAME}: Error:&quot;
PROGRAM=`echo ${JOB_NAME} | /bin/awk -F&apos;_&apos; &apos;{ print $1 }&apos;`
MAJOR_VERSION_NUMBER=`echo ${JOB_NAME} | /bin/awk -F&apos;_&apos; &apos;{ print $2 }&apos;`

SOFTWARE_VERSION=`/apps/pestools/latest/bin/swrquery --program ${PROGRAM} --major-version-number ${MAJOR_VERSION_NUMBER}`
if [ &quot;${SOFTWARE_VERSION}&quot; = &quot;&quot; ]; then
   echo &quot;${ERROR} unable to retrieve the software version number from the Software Release Database&quot;
   echo &quot;${ERROR} unable to execute build&quot;
   exit 1
fi

/home/hudson/bin/mkprops --verbose --program ${PROGRAM} --software-version ${SOFTWARE_VERSION} --dir ${WORKSPACE}/util
/bin/cat ${WORKSPACE}/util/build.properties
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder plugin="groovy-postbuild@1.8">
      <groovyScript>if (manager.build.result.isBetterOrEqualTo(hudson.model.Result.UNSTABLE)) 
{
   def matcher = manager.getMatcher(manager.build.logFile, &quot;^SOFTWARE_VERSION=(.*)\$&quot;)
   if (matcher?.matches()) 
   {
      manager.addShortText(matcher.group(1), &quot;#204A87&quot;, &quot;white&quot;, &quot;0px&quot;, &quot;white&quot;)
   }
}</groovyScript>
      <behavior>0</behavior>
    </org.jvnet.hudson.plugins.groovypostbuild.GroovyPostbuildRecorder>
    <join.JoinTrigger plugin="join@1.15">
      <joinProjects>mr_6.2_end_nightly</joinProjects>
      <joinPublishers/>
      <evenIfDownstreamUnstable>false</evenIfDownstreamUnstable>
    </join.JoinTrigger>
    <hudson.plugins.claim.ClaimPublisher plugin="claim@1.7"/>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.15">
      <recipientList>USA.0207.SCM@xerox.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>$PROJECT_DEFAULT_RECIPIENTS</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT
</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <recipientList>$PROJECT_DEFAULT_RECIPIENTS</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.15">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
              <propertiesFile>util/build.properties</propertiesFile>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>mr_6.2_bip_nightly,mr_6.2_cip_nightly,mr_6.2_ircc_nightly,mr_6.2_pec_nightly</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>