<?xml version='1.0' encoding='UTF-8'?>
<hudson.maven.MavenModuleSet>
  <rootModule>
    <groupId>com.company.project</groupId>
    <artifactId>project-mdb-ejb</artifactId>
  </rootModule>
  <aggregatorStyleBuild>false</aggregatorStyleBuild>
  <reporters/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://development.company.com/svn/project/trunk</remote>
        <local>trunk</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <useUpdate>false</useUpdate>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>*/20 * * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <description>My comany's favourite project.</description>
  <actions class="vector"/>
</hudson.maven.MavenModuleSet>