<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.CVSSCM" plugin="cvs@2.7">
    <flatten>true</flatten>
    <repositories>
      <hudson.scm.CvsRepository>
        <cvsRoot>:pserver:cvsuser:**********@brabdi13:d:\cvs</cvsRoot>
        <repositoryItems>
          <hudson.scm.CvsRepositoryItem>
            <modules>
              <hudson.scm.CvsModule>
                <localName></localName>
                <remoteName>DIP_CompetencyFinder</remoteName>
              </hudson.scm.CvsModule>
            </modules>
            <location class="hudson.scm.CvsRepositoryLocation$HeadRepositoryLocation">
              <locationType>HEAD</locationType>
              <useHeadIfNotFound>false</useHeadIfNotFound>
            </location>
          </hudson.scm.CvsRepositoryItem>
        </repositoryItems>
        <compressionLevel>-1</compressionLevel>
        <excludedRegions>
          <hudson.scm.ExcludedRegion>
            <pattern></pattern>
          </hudson.scm.ExcludedRegion>
        </excludedRegions>
        <password>*******</password>
        <passwordRequired>true</passwordRequired>
      </hudson.scm.CvsRepository>
    </repositories>
    <canUseUpdate>true</canUseUpdate>
    <skipChangeLog>false</skipChangeLog>
    <pruneEmptyDirectories>true</pruneEmptyDirectories>
    <disableCvsQuiet>true</disableCvsQuiet>
    <cleanOnFailedUpdate>false</cleanOnFailedUpdate>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant plugin="ant@1.1">
      <targets>hudson_target</targets>
      <antName>ANT_1_7</antName>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.plugins.jira.JiraIssueUpdater plugin="jira@1.35"/>
    <hudson.plugins.javancss.JavaNCSSPublisher plugin="javancss@1.1">
      <reportFilenamePattern>**/resources/reports/javancss_metrics.xml</reportFilenamePattern>
      <targets>
        <hudson.plugins.javancss.JavaNCSSHealthTarget>
          <metric class="hudson.plugins.javancss.JavaNCSSHealthMetrics">COMMENT_RATIO</metric>
        </hudson.plugins.javancss.JavaNCSSHealthTarget>
      </targets>
    </hudson.plugins.javancss.JavaNCSSPublisher>
  </publishers>
  <buildWrappers/>
</project>